# rename to rtl433-mqtt.env and modify the variables to your site

MQTT_HOST="mqtt.example.com"
MQTT_PORT=8883
MQTT_USER="change_me"
MQTT_PASS="change_me"

MQTT_TOPIC_PREFIX="rtl433"

# uncomment to change the default values
#RECEIVER_FREQ="433.92M"
#RECEIVER_ID="change_me"   # defaults to HOSTNAME

# uncomment if you want to restrict the decoders list
#RTL433_OPTS="-R 113"
